body {
  background-image: url(/img/cardboard_flat.png);
}

.navbar {
  text-shadow: none;

  .navbar-inner {
    background: white;
    border: none;
    box-shadow: none;

    .brand {
      text-shadow: none;
      color: #000;

      &:hover {
        color: #000;
      }
    }
  }
}
.navbar-inverse {
  .nav {
    > li {
      > a {
        color: #999;
        text-shadow: none;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

.welcome-video {
  padding: 10px;
  background-color: #ccc;
  border-radius: 5px;
}

.hero-unit {
  background-color: rgba(0, 42, 128, 0.68);
  background-image: url(/img/straws.png);

  blockquote {
    padding-bottom:0;
  }
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #252525;
  width: 100%;
  color:#ccc;

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  th {
    color: #555;
    text-align: left;
  }

  ul {
    list-style: none;

    li {
      line-height: 30px;
    }
  }

  .last-footer {
    background-color: black;
    color: #555;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
  }
}
